/*.imagen {
  background-color: #18222cf3;
  color: #ddd;*
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600";

body {
  font-family: 'Poppins', sans-serif;
  background-color: #18222cf3;
}

header {
  height: 108px;
  width: 100%;
  display: contents;
}


p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 5px;
  background-color: #0f151bde;
  border: none;
  border-radius: 0;
  margin-bottom: 0px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
  float: left;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}


/* ---------------------------------------------------
  HIDE STYLEs
----------------------------------------------------- */

.hide {
  display: none;
}

.no-show {
  color: #18222cf3;
}

/* ---------------------------------------------------
  SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  perspective: 1500px;
}

#sidebar {
  min-width: 240px;
  max-width: 240px;
  background: #7386D5;
  color: #fff;
  transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
  transform-origin: bottom left;
}

#sidebar-logo {
  height: 48px;
  width: 48px;
}

#sidebar.active {
  margin-left: -240px;
  transform: rotateY(100deg);
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

#channels,
#sort {
  font-size: 1.3em;
  font-weight: 500;
}

.channel:hover {
  cursor: pointer;
}

#sort {
  margin-top: 8vh;
}

.date {
  margin-bottom: 90%;
}


/* ---------------------------------------------------
    CONTENT STYLE AND HORIZONTAL NAV
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

#navbar-logo {
  height: 60px;
  width: 60px;
}

#sidebarCollapse {
  width: 40px;
  height: 40px;
  background: #0f151b3b;
  cursor: pointer;
  margin-right: 5px;
}

#sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: #f5f5f5;
  transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
  transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
  transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
  opacity: 0;
}

#sidebarCollapse span:last-of-type {
  transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
  transform: none;
  opacity: 1;
  margin: 7px auto;
}

/* ---------------------------------------------------
    NAV BAR
----------------------------------------------------- */

.logo-steam {
  float: left;
  margin: 0 6px;
}

#nav-logo {
  width: 176px;
  height: 44px;
}

#home:hover {
  cursor: pointer;
}

#search {
  height: 39px;
  border: 2px solid rgba(153, 153, 153, 0.137);
  background-color: rgba(230, 230, 230, 0.945);
  color: #0f151bde;
  font-family: 'Poppins', sans-serif;
  font-size: 1.81em;
  font-weight: 600;
  text-align: center;
  float: left;
  padding: 0 7px;
  margin-right: 3px;
  border-radius: 2px;
}

.col-glass {
  position: relative;
  min-height: 1px;
  float: left;
  }

#glass {
  height: 41px;
  width: 41px;
}

.col-glass {
position: relative;
min-height: 1px;
padding-right: 0;
padding-left: 0;
float: left;
}

.nav-link {
  font-size: 1.25em;
  color: #f5f5f5;
}

.nav-link:hover {
  font-size: 1.32em;
  color: #f5f5f5;
}

#left-side-nav {
  min-width: 232px;
  max-width: 232px;
  vertical-align: middle;
}

.col-md-6 {
  max-width: 48%;
  min-width: 48%;
  padding: 0 13px;
}

.navbar-nav {
  flex-direction: column-reverse;
}

/* ---------------------------------------------------
    VIDEO SECTION
----------------------------------------------------- */
#video-section {
  text-align: center;
  background-color: #0f151b3b;
  padding: 12px;
  margin-top: 0px;
}

#video {
  height: 270px;
}

.margin-video {
  position: relative;
  z-index: -100;
  margin-top: 20px !important;
}

/* ---------------------------------------------------
    NEWS SECTION STYLE
----------------------------------------------------- */
#value-search {
  padding-left: 0;
  float: left;
}

#items-found {
  float: right;
}

#sort-by {
  float: left;
  margin-bottom: 15px;
}

#percent {
  float: right;
}

.box {
  width: 100%;
  margin-top: 1.4rem;
  margin-bottom: 1.5rem;
}

.card-header {
  box-shadow: 0 4px 8px 0 #17202b93, 0 3px 10px 0 #17202b93;
  background-color: #17202b93;
}

.card-text {
  padding: 0 20px;
  color: #f5f5f5d3;
}

.media {
  margin: 0 0 50px 0;
  border-radius: 7px;
  border: 1px solid #d2d8f32d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.news-box:hover {
  background-color: #0d1218a6;
  cursor: pointer;
}

.img-news {
  margin: 7px 12px;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(58, 58, 65, 0.2), 0 6px 20px 0 rgba(58, 58, 65, 0.2);
  float: right;
}

.img-box {
  float: right;
  width: 29%;
}

.news {
  float: left;
  width: 70%;
}


/* ---------------------------------------------------
  MENU DEPEGABLE PARA ORDENAR
  ----------------------------------------------------- */

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Mostrar dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}



/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd
}



/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 1500px) {
  .col-md-11 {
    max-width: 90%;
    min-width: 90%;
  }
}

@media (max-width: 1440px) {
  .col-md-11 {
    max-width: 88%;
    min-width: 88%;
  }
}


@media (max-width: 1362px) {
  .col-md-6 {
    max-width: 47%;
    min-width: 47%;
  }

  .col-auto {
    max-width: 27%;
    min-width: 27%;
  }

  .nav-link {
    font-size: 1.2em;
  }

  .nav-link:hover {
    font-size: 1.3em;
  }
}

@media (max-width: 1295px) {
  .nav-link {
    font-size: 1.1em;
  }

  .nav-link:hover {
    font-size: 1.2em;
  }

  .card-header {
    font-size: 1em;
  }

  .card-text {
    font-size: .87em;
    font-weight: 350;
  }
}

@media (max-width: 1254px) {
  .nav-link {
    font-size: 1em;
  }

  .nav-link:hover {
    font-size: 1.1em;
  }
}

@media (max-width: 1220px) {
  .col-auto {
    max-width: 26%;
    min-width: 26%;
  }

  .col-md-6 {
    max-width: 43%;
    min-width: 43%;
    padding: 0;
  }

  .col-md-11 {
    max-width: 85%;
    min-width: 85%;
  }

  #nav-logo {
    width: 150px;
    height: 37px;
  }

  #left-side-nav {
    min-width: 200px;
    max-width: 200px;
  }
}

@media (max-width: 1110px) {
  #sidebar {
    min-width: 210px;
    max-width: 210px;
  }

  #sidebar.active {
    margin-left: -210px;
  }
}

@media (max-width: 1052px) {
  #sidebar {
    min-width: 200px;
    max-width: 200px;
  }

  #sidebar.active {
    margin-left: -200px;
  }

  .col-md-6 {
    max-width: 40%;
    min-width: 40%;
  }
  
  #glass {
    height: 36px;
    width: 36px;
  }

  #search {
    font-size: 1.75em;
    height: 38px;
  }
}

@media (max-width: 1015px) {
  #sidebar {
    min-width: 180px;
    max-width: 180px;
  }

  #sidebar.active {
    margin-left: -180px;
  }

  .col-md-6 {
    max-width: 38%;
    min-width: 38%;
  }

  .col-md-11 {
    max-width: 80%;
    min-width: 80%;
  }

  .img-box {
    margin-top: 12px;
  }
}

@media (max-width: 986px) {
  .col-md-6 {
    max-width: 55%;
    min-width: 55%;
  }
}

@media (max-width: 800px) {
  .col-md-6 {
    max-width: 53%;
    min-width: 53%;
  }

  .img-box {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: row-reverse;
  }

  .nav-link {
    margin-left: 10px;
    margin-right: 10px;
  }

  #home {
    min-width: 195px;
    max-width: 195px;
  }

  #left-side-nav {
    min-width: 173px;
    max-width: 173px;
  }

  #sort-by-btn,
  p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.5em;
  }

  #sort-by-btn {
    padding: 4.5px 10px;
  }

  .card-header {
    font-size: .93em;
    height: 47px;
    padding: 10px 15px;
  }

  #sidebar-logo {
    height: 47px;
    width: 47px;
  }

  #sidebar {
    margin-left: -180px;
    transform: rotateY(90deg);
    min-width: 180px;
    max-width: 180px;
  }

  #sidebar.active {
    margin-left: 0;
    transform: none;
  }

  #sidebarCollapse span:first-of-type,
  #sidebarCollapse span:nth-of-type(2),
  #sidebarCollapse span:last-of-type {
    transform: none;
    opacity: 1;
    margin: 5px auto;
  }

  #sidebarCollapse.active span {
    margin: 0 auto;
  }

  #sidebarCollapse.active span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
  }

  #sidebarCollapse.active span:nth-of-type(2) {
    opacity: 0;
  }

  #sidebarCollapse.active span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
  }

  #sidebar ul li a {
    font-size: .8em;
  }

  h3 {
    font-size: 1.4em;
  }

  #channels,
  #sort {
    font-size: 1.1em;
    font-weight: 400;
  }

  /*barra de navegacion horizontal*/
  #glass {
    height: 33px;
    width: 33px;
  }

  #search {
    font-size: 1.6em;
    font-weight: 600;
    height: 34px;
  }

  h5 {
    font-size: 1.1em;
  }

  .col-md-6 {
    max-width: 50%;
    min-width: 50%;
  }

  .img-box {
    margin-top: 40px;
  }

  #video {
    height: 230px;
  }
}


@media (max-width: 721px) {
  .col-sm-5 {
    max-width: 48%;
    min-width: 48%;
  }

  .col-sm-9 {
    max-width: 80%;
    min-width: 80%;
  }

  #search {
    font-size: 1.49em;
    font-weight: 600;
    height: 30px;
  }

  #left-side-nav {
    min-width: 148px;
    max-width: 148px;
  }

  #nav-logo {
    height: 32.6px;
    width: 134px;
  }

  #sidebarCollapse {
    width: 34px;
    height: 34px;
    margin-right: 4px;
  }

  #glass {
    height: 31px;
    width: 31px;
  }

  .col-md-auto {
    padding-right: 6px;
    padding-left: 6px;
  }

  #sidebar {
    margin-left: -170px;
    min-width: 170px;
    max-width: 170px;
  }
}

@media (max-width:676px) {
  #sidebar {
    margin-left: -161px;
    min-width: 161px;
    max-width: 161px;
  }

  h3 {
    font-size: 1.2em;
  }

  .card-header {
    font-size: .9em;
  }

  .card-text {
    font-size: .82em;
    color: rgb(202, 202, 202);
    font-weight: 300;
  }

  #sort-by {
    font-size: .845em;
  }

  #sort-by-btn {
    padding: 4px 8px;
  }

  header {
    height: 65px;
  }
  #video {
    height: 205px;
  }
}

@media (max-width: 583px) {

  h3 {
    
    font-size: 1.05em;
  }

#search {
    font-size: 1.2em;
    height: 27px;
}

#nav-logo {
  height: 27.7px;
  width: 116.4px;
}

#glass {
  height: 27px;
  width: 27px;
}

#home {
  min-width: 155px;
  max-width: 155px;
}

#left-side-nav {
  min-width: 140px;
  max-width: 140px;
}

.col-sm-9 {
  max-width: 77%;
  min-width: 77%;
}

.col-sm-5 {
  max-width: 46%;
  min-width: 46%;
}

#video {
  height: 182px;
}
}

@media (max-width: 501px) {
  .col-sm-5 {
    max-width: 42%;
    min-width: 42%;
  }

  .col-sm-9 {
    max-width: 72%;
    min-width: 72%;
  }

  .card-header {
    font-size: .89em;
  }

  .card-text {
    font-size: .82em;
    color: rgb(202, 202, 202);
    font-weight: 300;
  }

  #search {
    height: 27px;
    font-size: 1.05em;
  }

  #glass {
    height: 23px;
    width: 23px;
  }

  #value-search {
    font-size: .85m;
  }

  #nav-logo {
    height: 24px;
    width: 96px;
  }
  #home {
    min-width: 152px;
    max-width: 152px;
  }

  #left-side-nav {
    min-width: 140px;
    max-width: 140px;
  }

  #sidebarCollapse {
    width: 31px;
    height: 31px;
    margin-right: 3px;
}

  #video {
    height: 190px;
  }

  #sort-by {
    font-size: .82em;
  }

  #sort-by-btn {
    padding: 5px 10px;
  }

  .navbar-btn {
    margin-left: 5px;
  }
  .nav-link {
 font-size: .9em;
  }

  ul {
    padding-inline-start: 10px;
}

.ml-auto, .mx-auto {
  margin-left: 2px;
}
}

@media (max-width: 460px) {
.col-sm-5 {
  max-width: 38%;
  min-width: 38%;
}

.col-sm-9 {
  max-width: 63%;
  min-width: 63%;
}

ul {
  padding-inline-start: 5px;
}

.ml-auto, .mx-auto {
margin-left: 1px;
}
.nav-link {
  font-size: .8em;
   }

#search {
  font-size: .85em;
  padding: 1px;
}

h5 {
  font-size: .95em;
}

#home {
  min-width: 135px;
  max-width: 135px;
}

#left-side-nav {
  min-width: 110px;
  max-width: 110px;
}


#nav-logo {
  height: 23px;
  width: 92px;
}
}

@media (max-width: 384px) {

  #channels,
  #sort {
    font-size: .77em;
    font-weight: 400;
    margin: 13px 0 0;
  }

  #sort {
    margin-top: 35px;
  }

  #sidebar ul p {
    padding: 0px;
  }

  #sidebar-logo {
    height: 40px;
    width: 40px;
  }

  #search {
    height: 22px;
    font-size: .75em;
  }

  #glass {
    height: 23px;
    width: 23px;
  }

  #value-search {
    font-size: .9em;
  }

  .col-sm-5 {
    max-width: 50%;
    min-width: 50%;
  }


   .nav-link:hover {
    font-size: 1em;
  }

  #sidebar {
    margin-left: -140px;
    transform: rotateY(90deg);
    min-width: 140px;
    max-width: 140px;
  }

  h3 {
    font-size: 1em;
  }

  #home {
    min-width: 130px;
    max-width: 130px;
  }

  #left-side-nav {
    min-width: 120px;
    max-width: 120px;
  }

  #sidebarCollapse {
    width: 29px;
    height: 26px;
    margin-right: 3px;
}

  #video {
    height: 155px;
  }
  .col-sm-9 {
    max-width: 67%;
    min-width: 67%;
  }
}

@media (max-width: 359px) {
  #video {
    height: 145px;
  }
}

@media (max-width: 327px) {
  #video {
    height: 135px;
  }
  .col-sm-9 {
    max-width: 60%;
    min-width: 60%;
  }
}

@media (max-width: 301px) {
.navbar-nav {
  flex-direction: column-reverse;
}
}